.menu{
    height: 50px;
    width: 200px;
    background-color: blueviolet;

}

.sticky{
    height: 50px;
    width: 200px;
    background-color: chocolate;
    position: sticky;
    top: 0;
    margin: 0px 0px 0px 200px;
}

.caixa{
    background-color: aquamarine;
    position: relative;
    height: 2000px;
    width: 100px;
    top: 50px;
}

.caixa-absoluta{
    height: 20px;
    width: 20px;
    background-color: azure;
    position: absolute;
    right: 0;
}

.absoluta{
    height: 50px;
    width: 50px;
    background-color: darkgreen;
    position: absolute;
    left: 40%;
    top: 50%;
}