.header{
    background-color: orange;
    width: 100%;
    height: 60px;
    text-align: center;
    align-content: center;
    position: sticky; top: 0;
}

.grandao{
    width: 100%;
    height: 1500px;
    padding-top: 50px;
}