.relativo{
    background-color: red;
    color: burlywood;
    width: 200px;
    height: 200px;
    position: relative;
    top: 20px;
    left: 30px;
    align-content: center;
    text-align: center;
}