body{
    margin: 0;
}

.box{
    background-color: aquamarine;
    width: 100px;
    height: 100px;

    padding: 10px;
    border: 2px solid black;

    margin: 10px 0px 10px 0px;


    align-content: center;
    text-align: center;
    display: inline-block;
}


.box2{
    background-color: brown;
    height: 100px;
    width: 100px;
    
    padding: 10px;
    border: 2px solid black;

    margin: 10px 10px 10px 10px;
    
    align-content: center;
    text-align: center;
    display: inline-block;
}

.div-centralizada{
    margin: 0 auto;
    width: 300px;
}

.conteudo1{
    display: inline-block;
    width: 100px;
    margin: 0 auto;
}

.conteudo2{
    display: inline-block;
    width: 100px;
    margin: 0 auto;
}