body{
    margin: 0;
    height: 1500px;
    background-color: #E1E5EE;
}

.cabecalho{
    background-color: #2A324B;
    width: 100%;
    height: 75px;
    position:fixed;
    text-align: center;
    justify-content: center;
    z-index: 100;
    top: 0px;
}




/*-----Primeiro Link------*/
.link-1{
    display: inline-block;
    align-content: center;
    text-align: center;
}

.texto-link1{
    color: #E1E5EE;
    text-decoration: none;
    font-size: 15px;
    margin: 30px;
}

.texto-link1:hover{
    text-decoration: underline;
}




/*-----Segundo Link------*/
.link-2{
    display: inline-block;
    align-content: center;
    text-align: center;
}

.texto-link2{
    color: #E1E5EE;
    text-decoration: none;
    font-size: 15px;
    margin: 30px;
}

.texto-link2:hover{
    text-decoration: underline;
}




/*-----Terceiro Link------*/
.link-3{
    display: inline-block;
    align-content: center;
    text-align: center;
}

.texto-link3{
    color: #E1E5EE;
    text-decoration: none;
    font-size: 15px;
    margin: 30px;
}

.texto-link3:hover{
    text-decoration: underline;
}




/*-----Quarto Link------*/
.link-4{
    display: inline-block;
    align-content: center;
    text-align: center;
}

.texto-link4{
    color: #E1E5EE;
    text-decoration: none;
    font-size: 15px;
    margin: 30px;
}

.texto-link4:hover{
    text-decoration: underline;
}




/*-----titulo-----*/
.titulo{
    color: #E1E5EE;
    font-family:Arial, Helvetica, sans-serif;
}

.cardapio{
    margin: 75px;
    font-size: 50px;
    
}


/*-----prato1-----*/
.prato-1{
    width: 500px;
    height: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #2A324B;
}

.div-prato1{
    position: relative;
    top: 75px;
    width: 800px;
    padding: 10px;
    display: inline-block;
    height: 350px;
}

.descr-prato1-1{
    margin-left: 550px;
    margin-top: -250px;
    font-size: 40px;
    color: #2A324B;
    text-decoration: none;
}

.descr-prato1-2{
    margin-left: 550px;
    font-size: 20px;
    margin-top: -30px;
}

.descr-prato1-3{
    margin-left: 550px;
    font-size: 20px;
}

.descr-prato1-4{
    margin-left: 550px;
    font-weight: 600;
}

.descr-prato1-5{
    margin-left: 550px;
    color: #2A324B;
}




/*-----prato2-----*/
.prato-2{
    width: 500px;
    height: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #2A324B;
}

.div-prato2{
    position: relative;
    top: 75px;
    width: 800px;
    padding: 10px;
    display: inline-block;
    height: 350px;
}

.descr-prato2-1{
    margin-left: 550px;
    margin-top: -250px;
    font-size: 40px;
    color: #2A324B;
    text-decoration: none;
}

.descr-prato2-2{
    margin-left: 550px;
    font-size: 20px;
    margin-top: -30px;
}

.descr-prato2-3{
    margin-left: 550px;
    font-size: 20px;
}

.descr-prato2-4{
    margin-left: 550px;
    font-weight: 600;
}

.descr-prato2-5{
    margin-left: 550px;
    color: #2A324B;
}




/*-----prato3-----*/
.prato-3{
    width: 500px;
    height: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #2A324B;
}

.div-prato3{
    position: relative;
    top: 75px;
    width: 800px;
    padding: 10px;
    display: inline-block;
    height: 350px;
}

.descr-prato3-1{
    margin-left: 550px;
    margin-top: -250px;
    font-size: 40px;
    color: #2A324B;
    text-decoration: none;
}

.descr-prato3-2{
    margin-left: 550px;
    font-size: 20px;
    margin-top: -30px;
}

.descr-prato3-3{
    margin-left: 550px;
    font-size: 20px;
}

.descr-prato3-4{
    margin-left: 550px;
    font-weight: 600;
}

.descr-prato3-5{
    margin-left: 550px;
    color: #2A324B;
}




/*-----prato4-----*/
.prato-4{
    width: 500px;
    height: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #2A324B;
}

.div-prato4{
    position: relative;
    top: 75px;
    width: 800px;
    padding: 10px;
    display: inline-block;
    height: 350px;
}

.descr-prato4-1{
    margin-left: 550px;
    margin-top: -250px;
    font-size: 40px;
    color: #2A324B;
    text-decoration: none;
}

.descr-prato4-2{
    margin-left: 550px;
    font-size: 20px;
    margin-top: -30px;
}

.descr-prato4-3{
    margin-left: 550px;
    font-size: 20px;
}

.descr-prato4-4{
    margin-left: 550px;
    font-weight: 600;
}

.descr-prato4-5{
    margin-left: 550px;
    color: #2A324B;
}




/*-----prato4-----*/
.prato-5{
    width: 500px;
    height: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #2A324B;
}

.div-prato5{
    position: relative;
    top: 75px;
    width: 800px;
    padding: 10px;
    display: inline-block;
    height: 350px;
}

.descr-prato5-1{
    margin-left: 550px;
    margin-top: -250px;
    font-size: 40px;
    color: #2A324B;
    text-decoration: none;
}

.descr-prato5-2{
    margin-left: 550px;
    font-size: 20px;
    margin-top: -30px;
}

.descr-prato5-3{
    margin-left: 550px;
    font-size: 20px;
}

.descr-prato5-4{
    margin-left: 550px;
    font-weight: 600;
}

.descr-prato5-5{
    margin-left: 550px;
    color: #2A324B;
}




/*-----prato6-----*/
.prato-6{
    width: 500px;
    height: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #2A324B;
}

.div-prato6{
    position: relative;
    top: 75px;
    width: 800px;
    padding: 10px;
    display: inline-block;
    height: 350px;
}

.descr-prato6-1{
    margin-left: 550px;
    margin-top: -250px;
    font-size: 40px;
    color: #2A324B;
    text-decoration: none;
}

.descr-prato6-2{
    margin-left: 550px;
    font-size: 20px;
    margin-top: -30px;
}

.descr-prato6-3{
    margin-left: 550px;
    font-size: 20px;
}

.descr-prato6-4{
    margin-left: 550px;
    font-weight: 600;
}

.descr-prato6-5{
    margin-left: 550px;
    color: #2A324B;
}