p{
    color: rgb(85, 107, 47);
    font-family: v
    ;
}
h1{
    color: peru;
}
ul{
    color: rgb(85, 107, 47);
}
.ok{
    color: rgb(117, 86, 195);
}

body{
    background-color:rgba(105, 105, 105, 0.274) ;
}