.R{
    height: 15px;
    width: 15px;
    background-color: aqua;
    align-content: center;
    text-align: center;
    display: inline-block;
}
.letras{
    height: 1500px;
    width: 1500px;
}

.espaco{
    padding: 10px;
}

.R{
    height: 20px;
    width: 20px;
    background-color: darkgray;
    display: inline-block;
    position: sticky; top: 0px;
    align-content: center;
    text-align: center;
}

.E{
    height: 20px;
    width: 20px;
    background-color: rgb(228, 170, 170);
    display: inline-block;
    position: sticky; top: 0px;
    left: 25px;
    align-content: center;
    text-align: center;
}

.N{
    height: 20px;
    width: 20px;
    background-color: rgb(175, 97, 97);
    display: inline-block;
    position: sticky; top: 0px;
    left: 45px;
    align-content: center;
    text-align: center;
}

.Ê{
    height: 20px;
    width: 20px;
    background-color: rgb(235, 56, 56);
    display: inline-block;
    position: sticky; top: 0px;
    left: 65px;
    align-content: center;
    text-align: center;
}