.div-maior{
    background-color: rgb(152, 152, 228);
    width: 400px;
    height: 300px;
    position: relative;
}

.div-menor{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    position: absolute; bottom: 0; right: 0;

}