.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    text-align: center;
    align-content: center;
}
.corpo{
    display: inline-block;
    width: 400px;
    height: 1000px;
    margin-top: 70px;
    background-color: rgb(255, 255, 255);
    margin-left: 300px;
}

.menu-l {
    position: sticky;
    top: 60px;
    width: 250px;
    height: 100px;
    background-color: lightgray;
    display: inline-block;
}
