body{
    margin: 0;
    height: 1500px;
    background-color: #E1E5EE;
}

.cabecalho{
    background-color: #2A324B;
    width: 100%;
    height: 75px;
    position:fixed;
    text-align: center;
    justify-content: center;
    z-index: 100;
    top: 0px;
}




/*-----Primeiro Link------*/
.link-1{
    display: inline-block;
    align-content: center;
    text-align: center;
}

.texto-link1{
    color: #E1E5EE;
    text-decoration: none;
    font-size: 15px;
    margin: 30px;
}

.texto-link1:hover{
    text-decoration: underline;
}




/*-----Segundo Link------*/
.link-2{
    display: inline-block;
    align-content: center;
    text-align: center;
}

.texto-link2{
    color: #E1E5EE;
    text-decoration: none;
    font-size: 15px;
    margin: 30px;
}

.texto-link2:hover{
    text-decoration: underline;
}




/*-----Terceiro Link------*/
.link-3{
    display: inline-block;
    align-content: center;
    text-align: center;
}

.texto-link3{
    color: #E1E5EE;
    text-decoration: none;
    font-size: 15px;
    margin: 30px;
}

.texto-link3:hover{
    text-decoration: underline;
}




/*-----Quarto Link------*/
.link-4{
    display: inline-block;
    align-content: center;
    text-align: center;
}

.texto-link4{
    color: #E1E5EE;
    text-decoration: none;
    font-size: 15px;
    margin: 30px;
}

.texto-link4:hover{
    text-decoration: underline;
}




/*-----titulo-----*/
.titulo{
    color: #E1E5EE;
    font-family:Arial, Helvetica, sans-serif;
}




/*-----tabela-----*/
.tabela{
    margin: 0 auto;
    margin-top: 100px;
}

th{
    text-align: center;
}

td{
    text-align: center;
}

tr:nth-child(even){
    background-color: #2A324B;
    color: #E1E5EE;
}
tr:nth-child(odd){
    background-color:#E1E5EE;
    color: #2A324B;
}