.menu{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 60px;
    position: fixed; top: 0; left: 0;
}

.grandao{
    width: 100%;
    height: 1500px;
    padding-top: 100px;
}