body{
    background: linear-gradient( to bottom right, rgb(220, 018, 19), rgb(234,76,70), rgb(240, 116, 112), rgb(241, 149, 155), rgb(246, 189, 192) );
    background-repeat: no-repeat;
    height: 800px;
}

.botao{ 
    width: 190px;
    height: 21px;
    margin-left: 650px;
    
}

.botao:hover{
    background-image: url(tamoscandobrown.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 1500px;
    margin-left: 0px;
}

.frase{
    width: 600px;
    height: 150px;
    align-items: center;
    margin-left: 450px;
    margin-top: 150px;
}

.frase2{
    background-color:  rgb(85, 107, 47);
    height: 150px;
    margin-top: 150px;
   
}

.canta{
    height: 275px;
    width: 275px;
    border-radius: 100%;
    margin-top: 10px;
    border: 10px solid;
    border-color: burlywood;
}